/.idea
/.vscode
/node_modules
/vendor
/.env
/.env.*
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data
/.phpunit.result.cache
/.composer
/.cache
/.sass-cache
/.vite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
build/
/.DS_Store
Thumbs.db/.phpunit.cache
/node_modules
# /public/build - Ne pas ignorer, nécessaire pour le déploiement
/public/hot
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
